.cta-list-blocks {
  padding: 5em;

  .list-blocks-section-title {
    margin-bottom: 1em;
  }

  .list-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 0;
    padding: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    position: relative;
    border: 1px solid $light-gray;

    &:first-child {
      border-right: none;
    }

    &:last-child {
      border-left: none;
    }

    &::before {
      position: absolute;
      content: "";
      display: block;
      -webkit-transition: background-color 0.1s ease-out;
      transition: background-color 0.1s ease-out;
      background-color: transparent;
      padding: 0;
      height: 100%;
      width: 100%;
    }

    &:hover::before {
      background-color: $white;
      -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
      box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
      height: 100%;
    }

    &:hover {
      -webkit-transform: scale(1.02);
      transform: scale(1.02);
      border-color: $white;
    }

    .content-wrapper {
      position: relative;
      z-index: 1;
      padding: 30px 60px;
      display: block;
      text-align: center;
      height: 100%;
      min-width: 400px;

      h4 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18pt;
        margin-bottom: 30px;
      }

      .button-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 30px;

        .btn {
          padding: 0.5em 3.5em;
          font-size: 10pt;
        }
      }
    }

    .block-list {
      list-style: none;
      margin: 0;
      padding: 0 0 150px;
      text-align: left;
      display: block;

      .block-list-item {
        font-size: 12pt;
        margin-bottom: 10px;
        display: inline-block;
        width: 100%;
        clear: both;

        .item-text {
          display: inline-block;
          text-align: left;
          float: left;
        }

        .item-icon {
          display: inline-block;
          text-align: right;
          float: right;
        }

        .fa-check {
          color: $yellow;
          margin-left: 2em;
        }

        &:nth-of-type(4),
        &:nth-of-type(5) {
          .fa-check {
            color: $orange;
          }
        }

        &:nth-of-type(6),
        &:nth-of-type(7) {
          .fa-check {
            color: $red;
          }
        }
      }
    }
  }
}
