.subscribe-block {
  background: $yellow;
  text-align: center;

  .subscribe-block-section-title {
    margin: 1em 0 0.5em;
  }

  .subscribe-text-area {
    margin-bottom: 3em;
    font-size: 16pt;
  }

  .form-shortcode {
    text-align: left;

    form {
      text-align: center;

      .gform_body {
        display: inline-block;

        ul {
          list-style: none;

          li {
            &.gform_validation_container {
              display: none;
            }

            .gfield_label {
              display: none;
            }

            .ginput_container {
              input {
                -webkit-clip-path: polygon(1.9% 0, 100% 0%, 98.1% 100%, 0% 100%);
                clip-path: polygon(1.9% 0, 100% 0%, 98.1% 100%, 0% 100%);
                padding: 0.9em 3em;
                width: 600px;
                border: none;
              }
            }
          }
        }
      }

      .gform_footer {
        @extend .button-slanted;

        background: transparent;
        display: inline-block;
        border: 2px solid $white;

        .gform_button {
          @extend .button-slanted-content;
          @extend .btn;

          background: transparent;
          color: $black;
          border: none;
          padding: 1em 5em;
          margin: 0;

          &:hover {
            color: $yellow;
          }
        }

        &:hover {
          background: $black;
        }
      }
    }
  }

  .subscribe-text-area-after-form {
    margin-bottom: 5em;
    margin-top: 1em;
    font-size: 10pt;
  }
}
