html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-weight: 400;
  font-size: 14pt;
  overflow-x: hidden;
}

h2 {
  font-size: 50pt;
  font-style: italic;
}

.container-fluid {
  padding-right: 5em;
  padding-left: 5em;
}

